.Welcome-text {
  color: var(--Light-Theme-Text, #202124);
  text-align: center;
  /* H0 */
  font-family: Open Sans;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.small-text {
  color: var(--Grey-Grey-600, #808b9a);
  text-align: center;
  /* Body 1 */
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.heading {
  color: var(--Light-Theme-Text, #202124);
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
}
.submit-button {
  display: flex;
  width: 397px;
  height: 42px;
  padding: 16px;
  justify-content: center;
  color: white;
  align-items: center;
  gap: 4px;
  border-radius: 8px;
  background: var(
    --Light-Theme-Gradient-Buttons,
    linear-gradient(90deg, #6f74ff 0%, #5e9dff 100%)
  );
  box-shadow: 0px 4px 30px 0px rgba(32, 70, 168, 0.15);
}
.social-button {
  display: flex;
  width: 397px;
  height: 42px;
  padding: 16px;
  justify-content: center;
  color: white;
  align-items: center;
  gap: 4px;
  border-radius: 14px;
  border: 1px solid var(--Light-Theme-Outline, #d7d9e4);
  background: var(--Light-Theme-White, #fff);
}
.password-input {
  margin: 0 !important;
  /* width: 480px !important; */
  height: 50px !important;
  flex-shrink: 0 !important;
}
/* Normal input styling */
.password-input input {
  /* Your regular styles here */
}

/* Styling for autofill */
.password-input input:-webkit-autofill {
  box-shadow: 0 0 0 30px white inset; /* Adjust the box-shadow as needed */
}
.css-nxo287-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 10px 14px !important;
}
.forget-text {
  color: var(--Light-Theme-Primary, #2f66f6);
  /* H7 */
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
}

.social-button-text {
  color: var(--Light-Theme-Secondary-Text, #5f6368);
  /* font-feature-settings: "dlig" on;
    font-family: Noto Sans; */
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
.margin-8 {
  margin-top: 8px;
}
.remember-information {
  color: var(--Grey-Grey-600, #808b9a);
  /* H7 */
  font-family: Open Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 21px */
}
